// Converted from UserConfigs/Startup_Apps.conf

spawn-at-startup "vicinae" "server"
spawn-at-startup "gio" "launch" "/home/martinko/.local/share/applications/SSH Agent Tray.desktop"
spawn-at-startup "xwayland-satellite"
