 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #C7DC52;
active-foreground: #EDF5F8;
normal-background: #000307;
normal-foreground: #EDF5F8;
urgent-background: #C4DEEB;
urgent-foreground: #EDF5F8;

alternate-active-background: #63ACE4;
alternate-active-foreground: #EDF5F8;
alternate-normal-background: #000307;
alternate-normal-foreground: #EDF5F8;
alternate-urgent-background: #000307;
alternate-urgent-foreground: #EDF5F8;

selected-active-background: #C7DC52;
selected-active-foreground: #000307;
selected-normal-background: #C7DC52;
selected-normal-foreground: #000307;
selected-urgent-background: #63ACE4;
selected-urgent-foreground: #000307;

background-color: #000307;
background: rgba(0,0,0,0.7);
foreground: #EDF5F8;
border-color: #C7DC52;

color0: #141C1F;
color1: #457EAA;
color2: #5C855B;
color3: #4A81AB;
color4: #95A53D;
color5: #93A7B0;
color6: #98AAB0;
color7: #DDE8ED;
color8: #9AA2A6;
color9: #5CA8E3;
color10: #7BB179;
color11: #63ACE4;
color12: #C7DC52;
color13: #C4DEEB;
color14: #CBE2EB;
color15: #DDE8ED;


}

